body {
  background:  #fcfcf4;
  font-family: 'Roboto', sans-serif;
  text-align: center;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#navbar-inverse {
    background-color: #98B296!important;
    border-color: #98B296!important;
}